// Content
//------------------------------------------------------
.content{
	padding: {
		top: em(80);
		bottom: em(80);
	}
}
// ak sa mensi obrazovka pod width-md
// nastavia sa mensie dont sizy a paddingy
@media (max-width: $width-md) {
		main{
			font-size: 85%;
			h2 br{display: none;}

		}
		.content{
			padding: {
				top: em(80);
				bottom: em(80);
		}
	}
}
